name: CI + CD

on: 
  push:
    branches: 
      - main
      - develop
    paths-ignore:
      - README.md
      - .gitattributes
      - .gitignore
      - compose.yaml
      - docs/**

  pull_request:
    branches:
      - main
      - develop

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup-java
      - uses: ./.github/actions/setup-docker

      - name: Run tests
        run: mvn verify

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup-java

      - name: Run build
        run: mvn compile

  publish:
    runs-on: ubuntu-latest
    needs:
      - build
      - test
    steps:
      - uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Generate tag
        id: project
        run: |
          echo "tag=$(mvn -q help:evaluate -Dexpression=project.version -DforceStdout)" >> "$GITHUB_OUTPUT"

      - name: Push to Docker Hub
        uses: docker/build-push-action@v6
        with:
          push: true
          context: .
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/kango-backend:${{ steps.project.outputs.tag }}
            ${{ secrets.DOCKERHUB_USERNAME }}/kango-backend:latest